/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/
.nav {display: inline-block;position: relative;}
.nav-list {text-align:left;}
.nav-item {float:left; *display:inline; zoom:1; position:relative; }
.nav-item a { display: block;color: #c32880;} 
.nav-item-account{float:left; *display:inline; zoom:1; position:relative; margin-left:8px;} 
.nav-item-account a {display:block; color:#FFF; border-radius:3px; background:#151515;margin-left:5px;text-transform:uppercase;}
/*.nav-item:hover .nav-submenu {display:block;}*/


/*

.nav-submenu:hover ul li{display: block;padding: 0px 0px 0px 15px;background-color: #fff; border-top: 1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;border-bottom: 1px solid #ccc; }
.nav-submenu:hover ul li:hover{border: 1px solid #1e609d;}
.nav-submenu ul li{display: none; width: 100%;}


.nav-submenu ul li a{color: #3d3d3d !important;}
.nav-submenu.brows .nav-submenu-item ul li a{color: #3d3d3d;}
.nav-submenu.brows .nav-submenu-item ul li a:hover{color: #c32880;}
*/
/* Navigation submenu */
.nav-submenu {display:none; position:absolute; left:0; width:180px; z-index:999; border-right:0px; text-transform:capitalize; }
.text-transformation{text-transform:none;}
.nav-submenu-item a {background:#e2e2e2; border-bottom:1px solid #d0d0cf; margin: 0 !important; display:block; color:#4f4f4f; border-right:0px !important;}
.nav-submenu-item a:hover {background:#1e609d; text-decoration: none; color:#fff;}
.nav-item a:hover{color: #636363;}
/* Mobile navigation */
.nav-mobile {display:none; cursor:pointer; position:absolute; right:0; background:url(../images/nav_image.png) no-repeat center center; background-size:18px; height:30px; width:30px;border: 1px solid #2d2d2d; border-radius: 5px; content: ""; color: #fff; top:-70px;}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click { border-left: medium none;cursor: pointer;display: block !important;height: 39px;position: absolute;width: 100%;}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and ( max-width:1199px ) {


}
@media only screen and (min-width: 320px) and (max-width: 991px) {/*768    640*/
/*    .job-btn{margin-top: 16px; margin-right: 50px; max-width: 160px;}*/
    
	.nav-item-account{float:none;}
	.nav-item-account a {border-right:0px; display:block; color:#FFF; border-bottom:1px solid #3f3f3f; background:#020202; margin:0px; border-radius:0px;}	
    .nav-item{padding:0 !important; width: 100%;}
    .nav-item a{border-right:0px; display:block; color:#2d2d2d; /*background:#fff;*/ padding: 0 15px; }
	.nav-item > a:hover, .nav-item > a.act{background:#2d2d2d ; color:#fff; border-radius:0px;transition: 0.5s;}
	.nav-submenu-item a{color:#FFF; text-transform:capitalize; background:#151515; border-bottom:1px solid #000;}
	.nav-submenu-item a:hover{background:#3c3c3c; color:#FFF; text-transform:capitalize;}
	.nav-mobile {display:block; margin: 7px 0 0;}
	.nav {width:100%; top: 30px;}
	.nav-list {display:none;position: absolute; top: -32px; background: #ffffff none repeat scroll 0 0; box-shadow: 0 0 3px #cccccc; line-height: 40px; text-align: left;
    width: 100%; z-index: 9999;}
	.nav-item {width:100%; float:none;}
    .nav-item > a {margin: 0;}
    .nav-click {display:block;}
	.nav-mobile-open {border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;}
	.nav-item:hover .nav-submenu {display:none;}
	.nav-submenu {position:static;  width:100%;}
    /*  .nav-list{ top:78px;}*/
}

