.responsive-tabs.responsive-tabs-initialized{display:block}
.responsive-tabs>div.content{clear:both}
.responsive-tabs.accordion{border:1px solid #e1e1e1;}
.responsive-tabs.accordion>nav{display:none}
.responsive-tabs.accordion h3.accordion-title{margin:0}
.responsive-tabs.accordion h3.accordion-title a{background:#fff;font-weight:400;border-top:1px solid #e1e1e1;padding:10px 15px;display:block;font-size:16px;color:#333;text-decoration:none}
.responsive-tabs.accordion h3.accordion-title:first-child a{border-top:none}
.responsive-tabs.accordion>div.content>section{padding:10px;background:#fff;display:block;border-top:1px solid #e1e1e1;overflow:auto}
.responsive-tabs.tabs{border:none}
.responsive-tabs.tabs>nav{display:block}
.responsive-tabs.tabs>nav ul{list-style:none;padding:0;margin:0}
.responsive-tabs.tabs>nav ul:after{content:'';display:table;clear:both}
.responsive-tabs.tabs>nav ul li{float:left;font-size:16px;position: relative}
.responsive-tabs.tabs>nav ul li:last-child:before{content: "";height: 25px;width: 1px;background: #e1e1e1;position: absolute;right: 0;top: 0;bottom: 0;margin: auto -1px auto 0}
.responsive-tabs.tabs>nav ul li:first-child:before{content: "";height: 25px;width: 1px;background: #e1e1e1;position: absolute;left: 0;top: 0;bottom: 0;margin: auto 0px auto -1px}
.responsive-tabs.tabs>nav ul li.active{position:relative;z-index:2;top:2px;margin-top:-2px;border-bottom:1px solid #fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.responsive-tabs.tabs>nav ul li a{color:#333;background:#fff;padding:10px 15px;font-size:16px;display:block;text-decoration:none}
.responsive-tabs.tabs h3.accordion-title{display:none}
.responsive-tabs.tabs>div.content{border-top:1px solid #e1e1e1;}