.clearout {height:20px;clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {position:relative;max-width:100%;}
.nbs-flexisel-ul {position:relative;width:99999px;margin:0px;padding:0px;list-style-type:none;   text-align:center;  }
.nbs-flexisel-inner {position: relative;overflow: hidden;float:left;width:100%; }
.nbs-flexisel-item {float:left;margin:0px;padding:0px;position:relative;line-height:0px;}
.nbs-flexisel-item img {max-width: 100%;cursor: pointer;position: relative;margin-top: 10px;margin-bottom: 10px;}
/*** Navigation ***/
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right {padding: 5px 10px;position: absolute;cursor: pointer;z-index: 4;
top: 50%;background: rgba(0,0,0,0.7);color: #fff;font: normal normal normal 14px/1 FontAwesome;   height: 40px;
width: 40px;border-radius: 50%;font-size: 28px;text-align: center;z-index: 111;}
.nbs-flexisel-nav-left {left: 0px;}
.nbs-flexisel-nav-left:before {content:"\f104"}
.nbs-flexisel-nav-left.disabled {opacity: 0.4;}
.nbs-flexisel-nav-right {right: 0px;}
.nbs-flexisel-nav-right:before {content: "\f105"}
.nbs-flexisel-nav-right.disabled {opacity: 0.4;}