/* ----------------------------------------------------------------
	External Font
-----------------------------------------------------------------*/
@font-face {
font-family:'Open Sans';
src: url('../fonts/OpenSans-Regular-webfont.eot');
src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	 url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
font-weight: normal;
font-weight: 400;
font-style: normal;}

@font-face {
font-family:'Open Sans Light';
src: url('../fonts/OpenSans-LightItalic-webfont.eot');
src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	 url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
	 url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
font-weight: normal;
font-weight: 400;
font-style: normal;}

@font-face {
font-family:'Open Sans Semibold';
src: url('../fonts/OpenSans-Semibold-webfont.eot');
src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	 url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	 url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
font-weight: 500; font-style: normal;}

@font-face {
font-family:'Open Sans bold';
src: url('../fonts/OpenSans-Bold-webfont.eot');
src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	 url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	 url('../fonts/OpenSans-Bold-webfont.svg#OpenSansSemibold') format('svg');
font-weight: 500; font-style: normal;}
/* Webkit */
::-webkit-input-placeholder { color: #999; }

/* Firefox 4-18 */
:-moz-placeholder { color: #999; }

/* Firefox 19+ */
::-moz-placeholder { color: #444; }

/* IE10+ */
*:-ms-input-placeholder {
    color: #999!important;}

html {
    width: 100%;
   min-height: 100%;
    position: relative;
}
body {
    width: 100%;
 
    letter-spacing: 0.5px;
}
.clr {clear: both;}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'open sans', sans-serif;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 22px; }
h4 { font-size: 18px;}
h5 { font-size: 14px; }
h6 { font-size: 12px; }
h5,
h6 { font-weight: bold; }
body{ -webkit-font-smoothing: antialiased;}
select::-ms-expand{display:none; }
select{ -webkit-appearance:none;}
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
    list-style-type: none;
}
a:active,
a:focus { outline: none !important; text-decoration: none;}
.wrapper{overflow: hidden;}

/*Main CSS*/
.header {padding: 10px 0;  border-bottom: 3px solid #c42881;}

/*Menus*/
.bg{background: #fff;}
.rgt {text-align: right;}
.menus{ line-height: normal;margin: 25px 0;}
.menus li{float: left; padding: 0 10px; border-right: 1px solid #d0d0d0;}
.menus li:last-child{padding-right: 0;}
.menus li a{font-size: 16px; color: #7d7d7d; }
.menus li a:hover{color: #c32880;}
.dropdown-menu.top_drop > li {display: inline-block;width: 100%;text-align: center;padding: 0;}
.lag{background: none;color: #7d7d7d;border: none;padding-top:0px;font-size: 16px;padding-right: 1px;}
.lag:hover{background: none;color: #c32880;border: none}
.drp-btn{background: none;color: #7d7d7d;border: none;margin-top:4px;}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning{background: none!important;color: #7d7d7d!important;box-shadow: none!important;}
.btn-warning:focus, .btn-warning.focus{background: none!important;box-shadow: none!important;color: #7d7d7d!important; }
.last-br:last-child{border-right: none!important;}
.drp-btn:hover{background: none;color: #c32880;border: none}
.post-btnn {float: right;margin-top: 25px;}
.job-btn {background: #c42881;border: medium none;border-radius: 3px;color: #fff;display: inline-block;font-size: 16px; height:43px;margin-top:15px;max-width: 182px;padding: 0;text-transform: uppercase;vertical-align: top;width: 100%;}
.job-btn > span {display: inline-block;margin-top: -5px;padding-right: 8px;vertical-align: top;}
.job-btn:hover{background: #ae2071;}
.select-style1 {padding: 0; margin:0 0 15px; width:100%;max-width: 263px; height:26px; overflow: hidden; background-color: #fff; background: #fff url('../images/sea') no-repeat 95% 50%;float: left; border: 1px solid #cbcbcb;}
.select-style1 select {padding:0 8px; width: 100%;height:23px; font-family:'robotoregular'; font-size: 14px; color:#616161; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;text-indent: 3px;}
.search_line {margin: 40px 0 0;}

/*back_to top arrow css start here*/
.cd-top {
    background:#c32880 url("../images/up-arrow.png") no-repeat scroll center 50%;
    bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    opacity: 0;
    outline: medium none;
    overflow: hidden;
    position: fixed;
    right: 30px;
    text-indent: 100%;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
    z-index: 99999;
    border-radius: 100px;background-size:45% auto;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}
.cd-top.cd-is-visible {
    opacity: 1;
    visibility: visible;
}
.cd-top.cd-fade-out {
    opacity: 0.8;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
.scaleIn .rot {
    transition: all 0.35s linear 0s;
}
.fadeUp {
    animation: 1s ease 0s normal none 1 running fadeUp;
}
@keyframes fadeUp {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}
.scale-In {
    animation: 1s ease 0s normal none 1 running scaleIn;
}
@keyframes scaleIn {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
.scale-InOut {
    animation: 1s ease 0s normal none 1 running scaleIn;
}
@keyframes scaleInOut {
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}
.scaleIn:hover .rot {
    border-color: #4cc3e9;
    transform: rotateY(180deg);
}
.hovfade:hover {
    animation-duration: 0.5s;
    animation-name: scaleInOut;
}
/*back_to top arrow css end here*/



/*banner section start here*/
.banner-section{background:url(../images/banner-img.jpg); background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;padding:20% 0;text-align: center;background-attachment: fixed;}
.great-text{font-size: 60px; font-family: "open sans bold";line-height:72px;color: #fff;text-shadow:  0 1px #000;margin-bottom: 20px; }
.great-text > span{color: #ae2071;}
.banner-section h3{color:#fff;text-shadow:  0 1px #000;font-size: 24px;margin-bottom: 20px; line-height: 35px;}
.search-bx{max-width: 604px;width: 100%; margin:30px auto;position: relative;}
.search-in {border: none;border-radius: 5px;font-family: "open sans light"; font-size: 16px;height: 50px;padding:0 50px 0 20px;width: 100%;}
.searchbut{background:rgba(0, 0, 0, 0) url(../images/search-icon.png);background-repeat: no-repeat; background-position:center center;height:50px;border: none; padding: 0;
    position: absolute; right: 0;width:45px;}
/*banner section end here*/


.team-bx:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c32880;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.team-bx:hover:before, .team-bx:focus:before, .team-bx:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*team start */
.teams-bx {margin-bottom: 30px;}
.br-btm{border-bottom: medium none !important;}
.br-right {border-right: medium none !important;}
.br-rgt {border-bottom: medium none !important;border-right: medium none!important;}
.team-bx{height: 160px;padding: 30px 0;border: 1px solid #dad9d9;
 -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    background:#fff;padding:20px;}
.interior{text-align: center; }
.team-section{padding: 50px 0;}
.team-section h1{font-size: 46px;text-align: center;color: #000000; font-family: "open sans light";margin-bottom: 35px;}
.team-div{width: 87px;height: 2px; background:#d1d1d1;margin: 10px auto;}
.team-text{font-size: 16px; font-family: "open sans bold"; color: #4f4f4f;}
.interior-icon{background:url("../images/interior.png") no-repeat top center; height:51px; width:52px;cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .interior-icon{background:url("../images/interior-hover.png") no-repeat top center;}

.exterior-icon{background:url("../images/exterior.png") no-repeat top center; height:51px; width:52px; cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .exterior-icon{background:url("../images/exterior-hover.png") no-repeat top center;}

.modelling-icon{background:url("../images/modelling.png") no-repeat top center; height:51px; width:52px; cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .modelling-icon{background:url("../images/modelling-hover.png") no-repeat top center;}

.rendering-icon{background:url("../images/rendering.png") no-repeat top center; height:51px; width:52px;cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .rendering-icon{background:url("../images/rendering-hover.png") no-repeat top center;}

.animation-icon{background:url("../images/animation.png") no-repeat top center; height:51px; width:52px; cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .animation-icon{background:url("../images/animation-hover.png") no-repeat top center;}

.architects-icon{background:url("../images/architects.png") no-repeat top center; height:51px; width:52px;cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .architects-icon{background:url("../images/architects-hover.png") no-repeat top center;}

.decorators-icon{background:url("../images/decorators.png") no-repeat top center; height:51px; width:52px;cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .decorators-icon{background:url("../images/decorators-hover.png") no-repeat top center;}

.builders-icon{background:url("../images/builders.png") no-repeat top center; height:51px; width:52px;cursor:pointer; display: block;margin: 0 auto;}
.team-bx:hover  .builders-icon{background:url("../images/builders-hover.png") no-repeat top center;}
.team-bx:hover .team-text{color: #fff}
.team-bx:hover .team-div{background: #dc7eb3}
/*team end */

/*how it works start here*/
.mob-bx{float: left}
.how-it-work-section{background: #f9f9f9;padding: 55px 0 0;}
.how-it-work-section h1 {color: #2d2d2d;font-family: "open sans light";font-size: 46px;margin-bottom: 40px;text-align: center;}
.work-rgt > h2 {color: #585757;font-family: "open sans semibold";}
.work-rgt .enjoy-text {color: #666666;font-family: "open sans light";font-size: 18px;margin:24px 0 25px;line-height:25px;}
.work-rgt .enjoy-links li{background: url(../images/link-icon.png); background-repeat: no-repeat; background-position: left top 7px ;padding-left: 20px ;font-size: 18px;font-family:"open sans light";color:#666666; margin-bottom: 10px;}
/*how it works end here*/

/*real expert start*/
.real-expert-section {background-attachment: fixed;background-image: url("../images/real-expert-bg.jpg");background-size:cover;}
.real{float: right;}
.real-img > img {bottom: 25px;}
.real-img{background: url(../images/map-icon.png);background-repeat: no-repeat;height: 499px;background-position: bottom;}
.real-text {color: #fff;font-family: "open sans bold";font-size: 34px;line-height: 38px;padding: 140px 53px 0;text-align: left;}
.divider-real{max-width:154px;width: 100%; height: 3px; margin:12px auto;background: #fff;}
.ceo-head{color: #fff; font-family: "open sans bold"; font-style: italic;font-size: 16px;line-height: normal;text-align: center;}
.ceo-con{font-family: "open sans light";font-size: 14px;line-height: normal;text-align: center;}
.real-text > span {vertical-align: super;}
/*real expert start*/

/*protection start */
.protection-section{padding:55px 0;}
.protection-left h2{font-size: 48px;font-family: "open sans bold"; color: #3f3f3f; line-height:60px;}
.protection-rgt {padding-top: 25%;text-align: center;}
.enjoy-text {color: #666666;font-family: "open sans light";font-size: 18px;margin: 35px 0 25px;line-height: 30px;}
.enjoy-links li{background: url(../images/link-icon.png); background-repeat: no-repeat; background-position: 0px 5px ;padding-left: 20px ;font-size: 18px;font-family:"open sans light";color:#666666; margin-bottom: 25px;}
.enjoy-links span {color: #2c2b2b;font-family: "open sans semibold";}
/*protection end here*/


/*login start here*/
.login-email-form {margin: 0 auto;max-width: 401px;width: 100%;  background: #ffffff none repeat;letter-spacing: normal;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.login-section{background:url(../images/login-bg.jpg); background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;padding:8% 0;background-attachment: fixed;}
.pagi_one.act {background:#ffffff ;border: 0 none;color: #333333;width: 50%; float: left;}
.pagi_one{background: #c42881;border: 0 none;color: #fff;font-family: "open sans";float: left;font-size: 20px;height: 60px; width: 50%; padding: 0;}

/*client login*/
.head-title { text-align: center;color: #333333; font-family: "open sans"; font-size: 22px;   margin-bottom: 15px;}
.control-label {color: #555555;font-family: "open sans";font-size: 14px;text-transform: uppercase;}
.clint-input {text-indent: 3px;   border-radius: 3px; border: 1px solid #9e9e9e;color: #333333;display: block;font-size: 14px;height: 35px;line-height: normal;margin-top: 5px;width: 100%;}
.user-box {margin-bottom: 15px;text-align: left; }
.rem-me {color: #555555;display: inline-block;font-family: "open sans";}
.forget-pwd a {color: #999999;font-size: 14px;}
.forget-pwd a:hover {color: #c42881;}
.forget-pwd {display: inline-block;float: right;}
.re-frgt {margin-bottom: 20px;margin-top: 20px;text-align: left;}
.normal-btn {background: #c42881;border: 1px solid #c42881;border-radius: 2px;color: #fff;display: inline-block;font-family: "open sans";font-size: 16px;height: 40px;line-height: normal;max-width: 130px;padding: 4px 8px;width: 100%;}
.normal-btn:hover{background: #fff; color:#c42881;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
.normal-btn:focus{box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);background: #fff; color:#c42881;}
.divider { background: #c42881;height: 1px;margin: 39px 0 15px;}
.dont-acct {text-align: center;font-family: "open sans"; text-align: center;font-size: 14px; color: #8a8a8a;margin: 18px 0 0;}
.chkbx { margin-right: 5px !important; vertical-align: top;}
.client-login {padding: 20px 23px;}
.dont-acct a {color: #3e3e3e; font-family: "open sans";font-size: 14px;}
.dont-acct a:hover {color: #c42881; }
.pagi_one.act:focus {
    outline: none!important;
}
/*login end here*/

/*sign up start here*/
.sign-up-form {margin: 0 auto;max-width: 669px;width: 100%;  background: #ffffff none repeat;letter-spacing: normal;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow:  0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.alrdy-login { color: #6e6e6e; padding-bottom: 6px;font-family: "open sans",sans-serif;font-size: 16px;margin: 4px 0 22px;text-align: center;}
textarea.clint-input {line-height: normal !important;  padding-top: 8px;}
.alrdy-login a { color: #333333;}
.alrdy-login a:hover {color: #c42881;}
.droup { -moz-appearance: none;background-color: transparent;border: medium none;color: #6b6a6a;font-size: 14px;height: 100%;padding-left: 2px;
    width: 99.9%;}
.droup-select { background-color: #fff;background-image: url("../images/drop-arrow1.png");background-position: 96% center;background-repeat: no-repeat;
    border: 1px solid #9e9e9e;border-radius: 3px;display: inline-block;height: 35px;margin-top: 5px;width: 100%;}
/*file input css start here*/
.btn-file {position: relative;overflow: hidden;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;text-align: right;opacity: 0;background: none repeat scroll 0 0 transparent;cursor: inherit;display: block;}
/* IE 10 fix */
.btn-file ::-ms-browse {width:100%;height:100%;}
.btn.btn-primary.btn-file {background: #c42881;border-color: #c42881;border-radius: 0 ;color: #fff;display: block;height: 35px;float: right;
    padding-top: 6px;    max-width: 92px; width: 100%;}
.user-box .input-group {border-collapse: separate;max-width: 100%;position: relative;width: 100%; border: 1px solid #9e9e9e;border-radius: 3px;}
.glyphicon.glyphicon-trash, .glyphicon.glyphicon-upload, .glyphicon.glyphicon-file.kv-caption-icon {color: #888;font-weight: normal;}
.form-control.file-caption.kv-fileinput-caption {   border: 0;box-shadow: none;height: 35px;max-width:64%;width: 100%;}
.upload-block {margin-top: 6px;}
/*file input css end here*/
.file { color: #fff;}
/* for safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {

    ::i-block-chrome, .mr-l{ margin-left: 1px;}
   /* ::i-block-chrome, #login .right-section{height: 788px;}
*/
}
/*for IE*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
/*.mr-l{ margin-left: 1px;}*/
}


.user-box h5 { color: #676767; font-family: "open sans semibold"; font-size: 20px; margin-bottom: 0;}
.error_area {   background-color: rgba(255, 0, 0, 0.8);border-radius: 3px;color: #fff;font-family: Arial,Helvetica,sans-serif;font-size: 12px;
    height: 26px;padding: 5px;position: absolute;top: 35px;width: 100%;z-index: 9;}
.error_area span {opacity: 0.8; background: rgba(0, 0, 0, 0) url("../images/error_arrow.png") repeat scroll 0 0;display: block;left: 6px;opacity: 0.8;
    position: absolute;top: -6px;transform: rotate(227deg);width: 11px;}
.input-name {position: relative;}
.footer_copyright.login-ftr {bottom: 0;position: absolute;width: 100%;}
.error-message .alert {border: 1px solid transparent;border-radius: 2px;font-size: 12px;margin-bottom: 8px;padding: 7px;}
.error-message {margin-bottom: 10px;margin-top: 10px;}
/*sign up end here*/

/*listing page start here*/
.middle-container {background: #f8f8f8 ; padding: 30px 0;}
input.serach-frm { background: #fff url("../images/search.png") no-repeat scroll 1% center;border: 1px solid #9e9e9e;color: #818181; font-family: "open sans",sans-serif;font-size: 16px; display: inline-block;height: 40px;max-width: 590px;padding-right: 7px;padding-left: 32px;width: 100%;}
.search-section .normal-btn { float: right;}
.select-style {background: #ffffff url("../images/droup-down.png") no-repeat scroll 99% center padding-box; border: 1px solid #9e9e9e;
    border-radius: 1px;overflow: hidden;padding: 0;width: 100%;}
.select-style select {-moz-appearance: none;background-color: transparent;background-image: none;border: medium none;box-shadow: none;color: #818181; font-family: "open sans",sans-serif;font-size: 16px;height: 38px;padding:5px 8px;width: 100%;}
.ser-box { margin-bottom: 12px; margin-top: 22px;}
/*
.img-box img { height: 250px;overflow: hidden;width: 100%;}*/
.img-title-box { background: #ffffff none repeat scroll 0 0;  padding: 0 20px 20px;}
.title-p { color: #444444; font-family: "open sans semibold";   font-size: 16px;}
.sub-titl-p { color: #c42881;font-family: "open sans",sans-serif;font-size: 13px;}
.address-likes-bx { border-top: 1px solid #dfdfdf; padding-top: 12px;}
.listing-box {   margin-top: 30px;border: 1px solid #efefef;  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);}
.img-circle-bx img { -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;width: 100%;height: 100%; }
.img-circle-bx { background: #ffffff none repeat scroll 0 0; border: 1px solid #efefef;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; display: inline-block; height: 84px; margin-right: 7px;padding: 5px;width: 84px; }
.list-title-product {  color: #fff; display: inline-block; padding-top: 19px;vertical-align: text-top;}
.img-box { background: #fff none repeat scroll 0 0;display: block;height: 320px;position: relative;overflow: hidden;}
.title-bx {    bottom: 0; display: block;height: 114px; padding: 0 20px; position: absolute;width: 100%}
.address-bx {color: #444444;font-family: "open sans",sans-serif;font-size: 14px;margin-bottom: 5px;}
.address-bx img {margin-right: 18px;}
.likes-bx {color: #292929;font-family: "open sans",sans-serif; text-transform: uppercase;font-size: 14px;}
.likes-bx img {margin-right: 10px;}
.likes-bx span {color: #292929;font-family: "open sans semibold";font-size: 16px;}
.rating-portfolio-strip {background: #c42881 none repeat scroll 0 0;color: #fff;padding: 8px 20px;}
.portfolio-strip {display: inline-block;float: right;font-family: "open sans",sans-serif;font-size: 13px;text-transform: uppercase;}



/*rating demo*/
span.stars, span.stars span {display: block;background: url("../images/star.png") 0 -19px repeat-x;	width: 101px;height: 20px; color: transparent;}
span.stars span {background-position: 0 0;}


.product-pagi-block{ margin-bottom: 15px;
    margin-top: 45px;
    text-align: center;}
.product-pagi-block ul li{display: inline-block; margin: 0 5px; vertical-align: top;}
.product-pagi-block li a{  border: 1px solid #9e9e9e;
    border-radius: 50%;
    color: #444444;
    display: block;
    font-family: "open sans semibold";
    font-size: 20px;
    height: 40px;
    padding-top: 4px;
    width: 40px;}
.img-arrow-block{margin-top: -10px;}
.fa.fa-long-arrow-right, .fa.fa-long-arrow-left , fa fa-angle-right , fa fa-angle-left{line-height: 20px; color: #ffffff;}
.arrow-block-img, .pegi-active, .product-pagi-block li a:hover{background: #c42881; color: #ffffff !important; border-color: #c42881 !important;}

.product-pagi-block li a.arrow-block-img {
    font-size: 26px;
    line-height: normal;
    padding: 6px;
    text-align: center;
}
/*listing page end here*/

/*changes password page start here*/
.title-box-top h3 {font-family: "open sans";font-size: 26px;margin: 0;}
.profile-name {color: #289bdd;font-family: "open sans semibold";font-size: 18px; margin-top: 10px;}
.top-title-pattern {background: rgba(0, 0, 0, 0) url("../images/pattern.png") repeat scroll 0 0; padding: 20px 0;  border-bottom: 1px solid #cecece;}
.profile-circle img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;width: 100%;height: 100%; }
.profile-circle { background: #ffffff;border: 1px solid #efefef; box-shadow: 3px 0 5px rgba(0, 0, 0, 0.26);-webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.26); -moz-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.26); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;display: inline-block;
    height: 150px;padding: 6px;width: 150px; }
.left-sidebar {background: #fff;border: 1px solid #ececec;/*padding: 17px;*/ min-height: 474px;}
.user-profile {    margin-bottom: 10px;padding-top: 25px;text-align: center;}
.star-rat {  display: inline-block; margin-left: 0px; max-width: 125px; text-align: left; width: 100%;}
.rating-title { color: #4f4e4e; font-family: "open sans semibold";}

.rating-list { display: inline-block;vertical-align: middle;}
.table .rating-title {border: 0 none;}
.rating-profile .table td {border: 0 none; padding: 4px 12px;}
.rating-title span { float: right;}
.left-side-tabs ul li a {  color: #676667; font-family: "open sans light"; font-size: 16px;}
.overview-p {padding-left: 40px;;background: url("../images/overview.png");background-repeat: no-repeat;background-position:0 104%;display:block;vertical-align: middle;}
.edit-p {padding-left: 40px;;background: url("../images/edit-profile.png");background-repeat: no-repeat;background-position:0 104%;display:block;vertical-align: middle;}
.change-p {padding-left: 40px;;background: url("../images/lock.png");background-repeat: no-repeat;background-position:0 107%;display: block;
    vertical-align: middle;}
.inbox-p {padding-left: 40px;;background: url("../images/message.png");background-repeat: no-repeat;background-position:0 114%;display: block;
    vertical-align: middle;}
.ongoing-p {padding-left: 40px;;background: url("../images/ongoing-project.png");background-repeat: no-repeat;background-position:0 99%;display: block; vertical-align: middle;}
.completed-p {padding-left: 40px;;background: url("../images/complete-project.png");background-repeat: no-repeat;background-position:0 100%;display: block;vertical-align: middle;}
.applied-p {padding-left: 40px;;background: url("../images/applied-project.png");background-repeat: no-repeat;background-position:0 100%;display: block;vertical-align: middle;}
.availability-p {padding-left: 40px;;background: url("../images/avablity.png");background-repeat: no-repeat;background-position:0 104%;display: block; vertical-align: middle;}
.left-side-tabs ul li {   border-top: 1px solid #ebebeb; padding: 8px 13px; border-left: 3px solid #fff;transition: all 0.5s ease;}
.left-side-tabs ul li.active-p { background: #f6f9fb none repeat scroll 0 0; border-left: 3px solid #c42881;}
.left-side-tabs ul li.active-p a{ color: #c42881;background-position:0 3px;}
.left-side-tabs ul li:hover{background: #f6f9fb none repeat scroll 0 0; border-left: 3px solid #c42881;transition: all 0.5s ease; }
.left-side-tabs ul li a.edit-p:hover{ color: #c42881;background-position:0 2px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.change-p:hover{ color: #c42881;background-position:0 1px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.ongoing-p:hover{ color: #c42881;background-position:0 3px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.completed-p:hover{ color: #c42881;background-position:0 1px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.applied-p:hover{ color: #c42881;background-position:0 0px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.availability-p:hover{ color: #c42881;background-position:0 0px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s;}
.left-side-tabs ul li a.inbox-p:hover{ color: #c42881;background-position:0 5px;transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s;}

.right_side_section {  background: #ffffff none repeat scroll 0 0; padding: 15px;border: 1px solid #ececec;}
.head_grn { border-bottom: 1px solid #e4e4e4; color: #c42881;font-family: "open sans semibold";font-size: 22px;padding-bottom: 12px;}
.p-control-label{ color: #555555; font-family: "open sans"; font-size: 14px;}
.change-pwd-form {  padding-top: 25px;}
.min-height {
    min-height: 635px;
}
/*changes password page end here*/

/*profile view start here*/
.b-control-label { color: #444444; font-family: "open sans semibold"; font-size: 16px; padding-right: 0;}
.profile-name1 {  color: #4f4f4f; font-family: "open sans semibold"; font-size: 18px; margin-top: 10px;}
.post-user-profil { color: #9a9a9a; font-family: "open sans"; font-size: 13px;}
/*profile view end here*/
/*ongoing project*/
.project-title h3 {
    color: #0e81c2;
    font-family: "open sans semibold";
    font-size: 18px;
}
.sub-project-dec {
     color: #c42881;
    font-family: "open sans light";
    letter-spacing: normal;
    margin-bottom: 3px;
}
.more-project-dec {
    color: #5b5b5b;
    font-family: "open sans light";
    font-size: 14px;
    height: 66px;
    letter-spacing: normal;
    overflow: hidden;}
.more-project-dec a {
    color: #c42881;
}
.right_side_section hr {
    border-color: #cecece;
    border-style: dashed;
    margin-left: -15px;
    margin-right: -15px;
}


.client_image {
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 135px;
    max-width: 135px;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 100%;
}
.client-show-icon.icon-edit_white > img {
    display: block;
    height: auto;
    width: auto;    border-radius: 0;
}
.client_image img {
    height: 100%;
    left: 50%; border-radius: 50%;
    position: absolute;
    top: 50%;
       transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}
.client-photo__upload-icon {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute; line-height: 39px; color: #fff;
    font-family: "open sans";
    font-size: 14px;
    right: 0;
    transition: height 0.5s ease 0s;
}
.client_image:hover .client-photo__upload-icon {
    height: 100%;
}
.client-photo__upload-icon > span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.client-photo__upload-icon::after {
    background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; border-radius: 50%;
}
.file {
    cursor: pointer;
    display: block;
    height: 124px;
    left: 7px;
    max-width: 125px;
    opacity: 0;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: 999;
}





.skils-project li {background: #eee;border-radius: 6px;color: #545454;display: inline-block;font-family: "open sans";font-size: 13px;padding: 5px 16px;}
.skils-project ul {  display: inline-block;}
.skils-project  span {  color: #c42881; display: inline-block; font-family: "open sans semibold"; margin-right: 12px;}
/*Footer start*/
.footer-bg{background:#666666 url(../images/footer-bg.png); background-repeat: no-repeat; background-position: right 10px center;}
.footer{background:#666666;padding: 50px 0;}
.footer_heading {color: #d5d5d5;font-family: "Open Sans";font-size: 18px;padding-bottom: 8px;text-transform: uppercase;margin-bottom: 15px;}
.heading_bor{height:1px; background:#0aa770; width:30%; margin-bottom:20px; margin-top:-1px;}
.menu_name{margin:0px; padding:0px;}
.menu_name ul{margin:0px; padding:0px;}
.menu_name ul li {list-style-type: none;margin-bottom:5px;}
.menu_name ul li a:link,.menu_name ul li a:visited{color:#bcbcbc; font-size:16px; text-decoration:none;}
.menu_name ul li a:hover{color:#FFF; text-decoration:none;}
.newsletter{position: relative;}
.news-in{
width: 100%; height: 36px; max-width: 270px; padding:0 27px 0 15px; border: none; border-radius: 5px;color:#b1b1b1;margin-bottom: 30px;}
.newbut{background:rgba(0, 0, 0, 0) url(../images/news-arrow.png);background-repeat: no-repeat; background-position:center center;height: 36px;border: none; padding: 0;top: 0;
    position: absolute; right: 0;width: 25px;}
.social_icon li {display: inline-block; margin-right: 15px;margin-bottom: 10px}
.social_icon li a.fb{background:url("../images/fb.png") no-repeat; height:25px; width:25px;transition: all 0.4s ease-in-out 0s; cursor:pointer; display:block;}
.social_icon li a:hover.fb{ background-position:0px -27px;}
.social_icon li a.twitter{background:url("../images/twitter.png") no-repeat; height:25px; width:25px;transition: all 0.4s ease-in-out 0s; cursor:pointer;display:block;}
.social_icon li a:hover.twitter{ background-position:0px -27px;}

.social_icon li a.in{background:url("../images/linkdin.png") no-repeat; height:25px; width:25px;transition: all 0.4s ease-in-out 0s;cursor:pointer;display:block;}
.social_icon li a:hover.in{ background-position:0px -27px;}
.social_icon li a.google{background:url("../images/google.png") no-repeat; height:25px; width:25px;transition: all 0.4s ease-in-out 0s;cursor:pointer;display:block;}
.social_icon li a:hover.google{ background-position:0px -27px;}

.footer_copyright{background:#373737; padding:15px 0;}
.copyright_l{text-align: center; font-size:14px; color:#aeaeae; line-height: 22px;}
.copyright_l span{color:#fff;}
/*Footer end*/


@media only screen and ( max-width: 1280px ) {
   /*protection start */
    .protection-rgt > img {width: 100%;}
      /*protection end */ 
    .login-section{/*background:url(../images/res-login-bg.jpg); */   padding: 14% 0 55%;}
    
    
}


@media all and (max-width: 1024px){
    /*listing page start here*/
    .login_input_area1 {  margin-bottom: 20px;}
    input.serach-frm {margin-bottom: 20px;}
/*    .search-section .normal-btn { display: block; float: none; margin: 0 auto; text-align: center;}*/
    .normal-btn{ display: block; margin: 0 auto;}
     .title-bx { text-align: center;height: 156px;}
    .img-box{ height: 340px;}
        .list-title-product{ display: block;padding-top: 3px;}
    /*listing page end here*/
    
    
    .left-sidebar{ margin-bottom: 12px;}
    .skils-project li{ margin-top: 5px;}
}
@media only screen and ( max-width: 767px ) {
    /*banner start*/
    .search_line > img{width: 100%;}
      .login-section{/*background:url(../images/res-login-bg.jpg); */   padding: 14% 0 100%;}
    /*banner end*/
    
    .team-bx{border: 1px solid #dad9d9!important;}
    .text-center > img {width: 100%;}
    .lag{height: 40px;}
    .drp-btn{margin-top: 13px;}
    .rgt{margin-top: -4px;}
    
    /*footer start*/
    .footer_heading{ margin-top: 12px;}
    .news-in{ max-width: 100%;}
     /*footer end*/
    .listing-box {  margin: 0 auto 20px; max-width: 372px; width: 100%;}
    input.serach-frm{ max-width: 100%;}
    .ser-box {  margin-bottom: 30px; margin-top: 0;}
    .img-box {height: 352px;}
    
    
    .rating-profile { margin: 0 auto; width: 62%;}
    .more-project-dec { height: auto;}
    
    .btn-group, .btn-group-vertical{ position: inherit;display: block;}
    .dropdown-menu.top_drop > li { text-align: left;}
    .open > .dropdown-menu { display: block; max-width: 100%; min-width: 100%;  top: 37px; width: 100%;}
}

    
@media only screen and ( max-width:479px ) {
 /*real expert section start here*/
    .real-img{background: none;height: auto;}
    .real-text{padding: 0; color: #333;}
    .real{text-align: center;float: none;}
    .ceo-head{color: #333;}
    .divider-real{background: #333;}
    .real-expert-section{padding: 15px 0;}
        .rating-profile { margin: 0 auto; width: 87%!important;}
    
    
    /*login*/
    .pagi_one.act , .pagi_one{ max-width: none;}
    .client-login {padding: 18px 0;}
    .login-email-form{ margin-bottom: 15px;}
    .exper-clnt-login { padding: 5px 15px;}
    .login-section { padding: 14% 0 7%;}
    
     .title-bx { text-align: center;}
}


