a.job-btn{max-width: 220px;}
.real-text{font-size: 15px;}
.normal-btn{max-width: 200px;}
.dash-content{font-size: 18px;}
.skills-de-new{width: 16.333%;}
.skill-de-content{width: 82.667%;}
.skills-de-new-exp{width: 20.333%;}
.skill-de-content-exp{width: 78.667%;}
.btn.btn-primary.btn-file{max-width: 136px;}
.col-sm-12.col-md-12.col-lg-12 .right-side .normal-btn{margin-top: 10px;}
.theme-table.invoice-table-s.table a {display: block; width: 97px;}
.msg_btn-lnew{max-width: 90px;}
.project-list.mile-list span{margin-right: 10px;}
.btn.btn-primary.btn-file.remove {max-width: none;padding: 0;width: 8%;}
.btn.btn-primary.btn-file {max-width: none;width: 35%;}
.form-control.file-caption.kv-fileinput-caption{width: 57%; max-width: none;}
.release-btn.pull-right.button-text{min-width: 190px;}
.awd_btn {background: #2d2d2d none repeat scroll 0 0;border: 1px solid #2d2d2d;border-radius: 3px;color: #fff;display: inline-block;
font-family: 'robotoregular';font-size: 14px;height: 30px;line-height: normal;margin-right: 15px;max-width: 142px;width: 100%;}
.release-btn {background: #289c33 none repeat scroll 0 0;border: 1px solid #289c33;border-radius: 3px;color: #fff;height: 32px;
max-width: 149px;width: 100%;}
.info-btn-block{max-width: 110px;}
.trans-view-btn{font-size: 12px;}
.tras-client-tbl{font-size: 12px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome, if Chrome rule needed */
.invoice-table-s tbody td{font-size: 12px !important;}
}


@media only screen and (min-width: 320px) and (max-width: 991px) {/*768    640*/
/*    .job-btn{margin-top: 16px; margin-right: 50px; max-width: 160px;}*/

.nav-item-account{float:none;}
.nav-item-account a {border-right:0px; display:block; color:#FFF; border-bottom:1px solid #3f3f3f; background:#020202; margin:0px; border-radius:0px;}	
.nav-item{padding:0 !important; width: 100%;}
.nav-item a{border-right:0px; display:block; color:#c32880; /*background:#fff;*/ padding: 0 15px; }
.nav-item > a:hover, .nav-item > a.act{background:#2d2d2d ; color:#fff; border-radius:0px;}
.nav-submenu-item a{color:#FFF; text-transform:capitalize; background:#151515; border-bottom:1px solid #000;}
.nav-submenu-item a:hover{background:#3c3c3c; color:#FFF; text-transform:capitalize;}
.nav .nav-mobile {display:block;top: -67px;margin: 0; }
.nav {width:100%; top: 30px;}
.nav-list {display:none;position: absolute; top: -32px; background: #ffffff none repeat scroll 0 0; box-shadow: 0 0 3px #cccccc; line-height: 40px; text-align: left;
width: 100%; z-index: 9999;}
.nav-item {width:100%; float:none;}
.nav-item > a {margin: 0;}
.nav-click {display:block;}
.nav-mobile-open {border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;}
.nav-item:hover .nav-submenu {display:none;}
.nav-submenu {position:static;  width:100%;}
/*  .nav-list{ top:78px;}*/

.btn-group.right-sml.hidden-sm.hidden-md.hidden-lg, .right-sml.hidden-sm.hidden-md.hidden-lg, .right-sml.hidden-sm.hidden-md.hidden-lg{display: block !important;}
.lag {height: 45px;}
.drp-btn{margin-top: 13px !important;}
.btn-group > .btn + .dropdown-toggle {padding-right: 13px;}
.btn-group.mgrds button.conut-circl {left: 10px; top: -4px;}
.header .logo img {width: 40px; margin-top:8px;}
.nav .menus.nav-list.mobi-menus .nav-item.last-br.bg.hidden-xs{display: none;}
.mobi-menus .nav-item {border-bottom: 1px solid #d0d0d0;}
}

@media all and (max-width: 991px){
/*Main CSS*/
a.job-btn.newjobs {position: absolute;top: -3px;right: 57px}
/*Menus*/ 
.header-buttons {position: absolute;top: 0px;right: 110px;}
.btn-group.right-sml {display: block;float: right;margin: 0 30px 0 0;}	
.phone-logo {margin: 0;}
.after-login-header .nav-item a:hover {color: #fff !important;}	
.right-sml {
    float: right;
    margin-top: 0;
    margin-left: 0;
}
.after-login-header .mgrds,.after-login-header.header .nav	{padding: 0}	

}

@media all and (max-width: 767px){
/*Home page css start here*/
.home-page-wrapper .real-text{padding: 83px 3px 0;width: 100%;max-width: 302px;margin: 0 auto}
.after-login-header .btn-group.right-sml {
    margin: 6px 22px 0 0;
}
.after-login-header .phone-logo {
    margin-top: 5px;
}	
.after-login-header .nav-item {padding: 6px 0 0 !important;}	
/*Home page css end here*/  
}

@media all and (max-width: 479px){
/*Home page css start here*/
.home-page-wrapper .real-text{padding: 19px 3px 16px}
/*Home page css end here*/  
}

