
Search : <input  class="con-input" name="location" id="location"  placeholder="Enter the location" type="text" />


<br><br>

<div class="geo-details">

	   <input data-geo="administrative_area_level_2"  class="con-input" name="city"    id="city"     placeholder="city"    type="text" /><br>
	   <input data-geo="administrative_area_level_1"  class="con-input" name="state"   id="state"    placeholder="state"   type="text" /><br>
	   <input data-geo="country"                      class="con-input" name="country" id="country"  placeholder="country" type="text" /><br>
	   <input data-geo="postal_code"                  class="con-input" name="zipcode" id="zipcode"  placeholder="zipcode" type="text" /><br>
	   <input data-geo="lat"                          class="con-input" name="lat"     id="lat"      placeholder="lat"     type="text" /><br>
	   <input data-geo="lng"                          class="con-input" name="long"    id="long"     placeholder="lat"     type="text" /><br>

</div>


<!-- location -autocomplete -->
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLKCmJEIrOrzdRklZHYer8q9qx2XLJ4Vs&sensor=false&libraries=places"></script>
<script  src="./jquery.min.js"></script>
<script  src="./jquery.geocomplete.min.js"></script>

<script type="text/javascript">
    
    $(document).ready(function(){
        var location = "India	";
          $("#location").geocomplete({
            details: ".geo-details",
            detailsAttribute: "data-geo",
            location:location,
            types:[]
        });
    });
</script>

<!-- end location -autocomplete -->